.frame {
  background-color: white;
  z-index: 2;
  width: 50px;
  height: 50px;
  position: fixed;
  right: 20px;
  bottom: 20px;
  opacity: 0%;
  border-radius: 20px;
}

button{
  position: fixed;
  right: 30px;
  bottom: 30px;
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  line-height: 35px;
  border: 1px solid yellow;
}

button:visited + iframe{
    animation: 1s chatBot linear forwards;
}

@keyframes chatBot {
    0%{
        opacity: 10%;
    }
    50%{
        opacity: 70%;
    }
    100%{
        opacity: 100%;
    }
}
